* {
    box-sizing: border-box;
  }

body {
    font-family: 'Poiret One', sans-serif;
    font-size: 140%;
}
/*!importants put on lines 12, 37, 92, 110, 135, 146*/
.bg-primary {
    padding-top: 0%;
    background-color: rgb(9, 53, 20);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
}

.navPosition {
    padding-bottom: 7%;;
}

@media screen and (max-width: 710px) {
    .navPosition {
        padding-bottom: 13%;
    }
}

.navBorder:hover {
    background-color: indigo;
    color: rgb(49, 143, 26);
    padding: 2%;
    border-radius: 5px;
    padding-bottom:7%;
}

.nav-link {
    color: red; 
    font-weight: bolder;
    font-size: 125%;
}

@media screen and (max-width: 476px) {
    .navPosition {
        font-size: 75%;
    }
}

.container {
    width: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.introDiv {
    padding-left: 3%;
    padding-bottom: 5%;
    text-align: left;
    font-weight: bold;
}


.name {
    font-weight: bolder;
    font-size: 300%;
    margin-top: 8%;
}

.profession {
    font-weight: bolder;
    font-size: 250%;
}


.skills {
    font-size: 155%;
    font-weight: bolder;
}

.photoDiv {
    text-align: center;
}
/*think about using box shadow or use calc then subtract by how big the border*/
.profilePic {
    width: 200%;
    border-style: solid;
    border-color: white;
    border-width: 15px;
    border-bottom-width: 60px;
}

.bg-secondary {
    background-color:rgb(19, 15, 24);
}

.aboutSection {
    text-align: center;
    color: black;
    padding-bottom: 4%;
    padding-top: 1%;
}

.aboutParagraph {
    text-align: left;
    color:black;
    font-weight:bolder;
    font-size: 150%;
}

.portfolio {
    color:  black;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 5%;
}

.thumbnailWrapper {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.imgMod {
    width: 100%;
    height: 100%;
    padding: 2%;;
    border-style: solid;
    border-color: black;
    border-width: medium;
    margin: 3%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.projectName {
    color: black;
    font-weight: bolder;
}

.contact {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
}

.bg-info{
    background-color: rgb(32, 99, 89);
}

button {
    border-radius: 5px;
    margin-bottom: 1%;
    background-color: rgb(118, 202, 190);
    border-color: black;
    padding-bottom:7px;
}

button:hover {
    background-color: black;
    color: rgb(68, 190, 109);
}

.footer {
    text-align: center;
    background-color:rgb(19, 80, 212);
    color:black;
    font-size: 100%;
    padding: 1%;
}